<!--Master template from which all others are inherited-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="../css/style.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="header">
      {% block header %}
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>