{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
  {{ super() }}
  <!-- other head stuff goes here, like page specific css -->
  <!-- TODO(pheven): style this page. mobile first! -->
{% endblock %}
{% block header %}<h1>Hello {{user}}</h1>{% endblock %}
{% block content %}
  <!-- TODO(pheven): implement client side validation, js and html5 -->
  <form  action="/profile" method="post" 
  id="form_gather_information" name="form_gather_information">
    <label for="form_gather_information">Hourly Wage: </label>
    <input type="number" name="form_hourly_wage" id="form_gather_information">
    <div class="error">{{ error_wage_hourly }}</div>
    <p>or...</p>
    <label for="form_gather_information">Yearly Wage: </label>
    <input type="number" name="form_yearly_wage" id="form_gather_information">
    <div class="error">{{ error_wage_yearly }}</div>

    <label for="form_gather_information">Work Address Line 1: </label>
    <input type="text" name="input_address_1" id="form_gather_information">
    <div class="error">{{ error_address_street_1 }}</div>

    <label for="form_gather_information">Work Address Line 2: </label>
    <input type="text" name="input_address_2" id="form_gather_information">
    <div class="error">{{ error_address_street_2 }}</div>

    <label for="form_gather_information">City: </label>
    <input type="text" name="input_city" id="form_gather_information">
    <div class="error">{{ error_address_city }}</div>

    <label for="form_gather_information">ZIP/Postal Code: </label>
    <input type="number" name="input_zip" id="form_gather_information">
    <div class="error">{{ error_address_zip }}</div>

    {% import "macros.html" as macros %}
    {{ macros.select_country(form_name="form_gather_information") }}
    <div class="error">{{ error_address_country }}</div>
    
    <button for="form_gather_information" id="button_submit" 
    type="submit">Submit</button>
    <button for="form_gather_information" id="button_submit"
    type="cancel">Cancel</button>
    <!-- TODO(pheven): hook submit and cancel buttons up to appropriate handlers (python for submit and js for cancel) -->
  </form>

{% endblock %}