{% extends "base.html" %}
{% block title %}Testing{% endblock %}
{% block head %}
  {{ super() }}
  <!-- other head stuff goes here, like page specific css -->
  <!-- TODO(pheven): style this page. mobile first! -->
{% endblock %}
{% block header %}<h1>The following tests are available:</h1>{% endblock %}
{% block content %}
  <form  action="/profile" method="post" id="form_testing" name="form_testing">
    <label for="form_testing">Datastore tests: </label>
    <input type="number" name="form_hourly_wage" id="form_testing">
    <div id="test_result">Datastore tests are: {{ result }} </div>

    <button for="form_testing" id="button_submit" type="submit">Submit</button>
    <button for="form_testing" id="button_submit" type="cancel">Cancel</button>
  </form> 
{% endblock %}