{% extends "base.html" %}
{% block title %}Testing{% endblock %}
{% block head %}
  {{ super() }}
  <!-- other head stuff goes here, like page specific css -->
  <!-- TODO(pheven): style this page. mobile first! -->
{% endblock %}
{% block header %}<h1>The following tests are available:</h1>{% endblock %}
{% block content %}
  <form  action="/testing" method="post" id="form_testing" name="form_testing">
  
    <label for="form_testing">Datastore tests: </label>
    <input type="checkbox" name="test_choice" value="test_datastore">
    <div id="test_result">Datastore tests are: {{ result }} </div>

    <br>

    <label for="form_testing">Some other tests: </label>
    <input type="checkbox" name="test_choice" value="test_something">
    <div id="test_result">Some tests are: {{ result }} </div>

    <br>
    
    <button for="form_testing" id="button_submit" type="submit">Submit</button>
    <button for="form_testing" id="button_submit" type="cancel">Cancel</button>
  </form> 
{% endblock %}